<div class="container">
    <div class="row">
        <h1>Catalogo de tipos de auto</h1>
    </div>
    <div class="row">
        <input type="button" name="btnLeer" value="Leer" (click)="leer()"/>

        <input type="button" name="btnNuevo" value="Nuevo" (click)="nuevo()" />

        <input type="button" name="btnGrabar" value="Grabar" />
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>
                        Identificador
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Control
                    </th>
                </tr>
            </thead>
            <tbody>
                <!--como funciona ngFor para navegar en tipo autos y que se ejecute, 
                    buscar en el menu donde esta llamda al componente-->
                <tr *ngFor="let elementoActual of tipoAutos"> 
                    <td>
                        {{elementoActual.id}}
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="elementoActual.nombre">
                    </td>
                    <td>
                        {{elementoActual.nombre}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>